<div class="hourly-forecast-container">
    <div class="day-selector-container inline">
        <mat-label>Hourly forecast</mat-label>
        <mat-select
            panelClass="day-selector-panel"
            panelWidth="200px"
            [(value)]="selectedDay"
            (valueChange)="onDayChange($event)"
            >
            @for (day of days; track day) {
                <mat-option [value]="day">{{ day.name }}</mat-option>
            }
        </mat-select>
    </div>

    <div class="hours-forecast-container">
        @for (hourForecast of hourlyForecasts | slice:0:8; track hourForecast) {
            <div class="hour-card">
                <span class="inline">
                    <img [src]="getWeatherIcon(hourForecast.weatherCode)" alt="">
                    <p class="time">{{ hourForecast.time }}</p>
                </span>

                <p class="temperature">{{ hourForecast.temperature | temperatureDisplay }}</p>
            </div>
        }
    </div>
</div>