@import url(../../styles.less);

.logo-wrapper {
    height: 43px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    button {
        width: 120px;
        padding: 0;
        border: none;
        border-radius: 8px;
        background-color: @neutral-600;
        color: @neutral-0;

        .units-button-container {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            padding: 12px 16px;
            font-size: 16px;

            p {
                margin: 0;
            }
        }
    }
}

@media screen and (max-width: 767px) {
    .logo-wrapper {
        align-items: center;

        img {
            width: 140px;
        }

        button {
            width: 90px;
            height: 35px;

            .units-button-container {
                padding: 8px 10px;
                font-size: 12px;

                img {
                    height: 16px;
                    width: 16px;
                }
            }
        }
    }
}